#lah-container {
    background-color: mediumturquoise;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#lah-minigame-container {
  width: 100%;
}

#lah-minigame-bar {
  padding: 5px;
  border: solid 3px red;
}

#lah-menu-reset-button {
  margin-left: 2em;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid white;
}
